<h1>Yo Bitch, Do these things:</h1>
<hr />

<%= link_to 'Add Item', new_listing_path %>

<% if @listings.empty? %>
	<h3>Congratulations, Your To-Do List is Empty!</h3>
<% else %>
	<ul>
		<% @listings.each do |listing| %>
			<li>
				<%= link_to listing.item, listing_path(listing) %>
				<span> | </span>
				<%= link_to 'Edit Item', edit_listing_path(listing) %> 
				<span> | </span>
				<%= link_to 'Delete', listing_path(listing), method: :delete %>
			</li>
		<% end %>
	</ul>
<% end %>
























